/* FONTS */

@font-face {
    font-family: 'corbenregular';
    src: url('../font/Corben/corben-regular-webfont.eot');
    src: url('../font/Corben/corben-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/Corben/corben-regular-webfont.woff') format('woff'),
         url('../font/Corben/corben-regular-webfont.ttf') format('truetype'),
         url('../font/Corben/corben-regular-webfont.svg#corbenregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* GENERAL */

body {
	margin:0;
	background-color:#f2f2f2;
}

#all {
	margin-left:auto;
	margin-right:auto;
	margin-bottom:0;
	width:856px;
	padding:10px 10px 0px 10px;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -100px;
}

#all p{
	font-family:'corbenregular';
	font-size:20px;
	color:#FFF;
	text-align:center;
	text-shadow: 1px 1px 2px #333;
	margin-top:60px;
}

#all a{
	text-align:center;
	color:#FFF;
	text-shadow:#999;
	font-style:italic;
}

#logo_tall img {
	margin-left:auto;
	margin-right:auto;
	display:block;
}

#clear {
	clear:both;
}

/*clearfix*/
.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* HEADER */

#header {
	width:856px;
	height:140px;
	background-image:url(../../images/structured/background.jpg);
	border-radius: 15px 15px 0 0;
}

#header .link {
	float:right;
	margin-right:10px;
	margin-top:5px;
}

#header .link span{
	color:white;
	font-family:Arial, Helvetica;
	font-size:12px;
}

#header .link a {
	color:white;
	text-decoration:none;
	font-style:normal;
}

#header .link a:hover {
	text-decoration: underline;
}

/* RECHERCHE HEADER */

#header .search {
	float:right;
	width: 200px;
	height:35px;
	margin:70px 5px 5px 5px;
	padding:3px;
	border-radius:10px 0 10px 0;
}

#header .search input[id=search]{
	margin-top:6px;
	margin-left:3px;
}

/* FORMULAIRE */

#form {
	margin-left:auto;
	margin-right:auto;
	width:350px;
}

#form span {
	font-family:'corbenregular';
	font-size:16px;
	color:white;
	text-align:right;
	margin:0;
	text-shadow: 1px 1px 2px #333;
}

#form input[id=connexion]{
	background: url(../../images/structured/bouton_connexion.png) no-repeat center center;
	width:271px;
	height:54px;
	cursor: pointer;
	border: none;
	color : transparent;
	margin-top:20px;
}

#form input[id=inscription]{
	background: url(../../images/structured/bouton_inscription.png) no-repeat center center;
	width:271px;
	height:54px;
	cursor: pointer;
	border: none;
	color : transparent;
	margin-top:20px;
	margin-left:auto;
	margin-right:auto;
}

#header .search input[id=rechercher]{
	background: url(../../images/structured/loupe.png) no-repeat center center;
	width:32px;
	height:32px;
	border:none;
	cursor: pointer;
	color : transparent;
	margin-right:auto;
	margin-top:0;
}

#form .form_champs {
	width:270px;
	padding-bottom:5px;
	text-align:right;
}

#form input {
	margin-bottom:8px;
}

#form .submit {
	width:270px;
	margin-left:auto;
	margin-right:auto;
}

/* MENU */

#menu {
	width:778px;
	margin-left:auto;
	margin-right:auto;
	margin-top:20px;
	margin-bottom:3px;
}

#menu span {
	font-family:'corbenregular';
	font-size:20px;
	color:white;
	background-color:#9f577a;
	border-radius:10px 0 10px 0;
	padding:5px 8px 8px 8px;
}

#menu span img{
	margin:0;
}

#menu span a {
	font-style:normal;
	text-decoration:none;
}

#menu span a:hover {
	color:#9f577a;
}

#menu span:hover {
	background-color:#f2f2f2;
}

/* CONTENT */

#content {
	background-color:#f2f2f2;
	padding: 15px 10px 15px 10px;
	overflow: auto;
	padding-bottom:110px;
	margin-top:10px;
}

#content #haut {
	height:300px;
	margin-bottom:20px;
}

#content #haut .image {
	float:left;
	max-width:450px;
	max-height:300px;
}

#content #haut .texte {
	float:left;
	width:330px;
	margin-left:20px;
}

#content #haut img {
	border-radius:10px 0 10px 0;
	margin-right:5px;
}

#content #haut img:hover {
	cursor: url(../../images/structured/icon_zoom.png);
}

#content #haut .info_produit span.nom_produit {
	text-align:left;
	font-family:'corbenregular';
	font-size:50px;
	display:block;
}

#content #haut .info_produit span.type_produit {
	text-align:left;
	font-family:'corbenregular';
	font-size:25px;
	color:#9f577a;
	display:block;
	margin-bottom:10px;
}

#content #haut .info_produit span.infosup_produit {
	text-align:left;
	font-family:Arial;
	font-size:15px;
	color:white;
	border-radius:10px 0 10px 0;
	background-color: #999;
	padding:5px;
	margin-right:5px;
}

#content #haut .prix_produit {
	font-family:'corbenregular';
	font-size:60px;
	color:#9f577a;
	text-align:right;
}

#content #haut .quantite_produit {
	height:20px;
	margin:0;
	text-align:right;
	padding-top:5px;
}

#content #haut .quantite_produit form {
	padding:0;
	font-family:Arial;
	font-size:12px;
	width:100px;
	float:right;
}

#content #haut .quantite_produit form input[id=quantite] {
	width:20px;
}

#content #haut .ajout_produit {
	background-color:#9f577a;
	border-radius:10px 0 10px 0;
	padding:5px;
	margin-left:10px;
	width:190px;
	float:right;
}

#content #haut .ajout_produit .ajout_img {
	float:left;
	margin:0;
	margin-right:3px;
	padding-top:5px;
}

#content #haut .ajout_produit a {
	font-family:Arial;
	font-size:18px;
	color:white;
	font-style:normal;
	text-decoration:none;
}

#content #haut .ajout_produit a:hover {
	text-decoration: underline;
}

#content #bas span.title {
	font-family:Arial;
	font-size:16px;
	color:#9f577a;
	display:block;
	text-align:left;
	text-decoration:underline;
	font-weight: bold;
	margin-bottom:10px;
}

#content #bas {
	font-family:Arial;
	font-size:14px;
	text-align: justify;
}

/* FORMULAIRE CONTACT */

#content form{
	width: 535px;
	margin: 0 auto;
	padding-top: 15px;
}

#content label{
	font-family:'corbenregular';
	display: block;
	float: left;
	width: 90px;
	margin-right: 10px;
	font-size: 18px;
}

#content .input_text{
	width: 200px;
}

#content .input_text, textarea{
	float: left;
	background-color : #9f577a;
	-moz-border-radius: 1em; 
    -webkit-border-radius: 10px 0 10px 0;
	box-shadow:0px 0px 0px grey;
	border: none;
	padding-left:10px;
	font-family:Arial;
	font-size:16px;
	color:white;
	outline-color:#dddddd;
	width:535px;
}

#content label, .input_text{
	margin-bottom: 5px;
	height: 20px;
}

select#objet{
	font-family:Arial;
	font-size:16px;
	color:white;
	background-color: #9f577a;
	border:none;
	outline-color:#dddddd;
}

#content input[id=soumission]{
	background: url(../../images/structured/bouton_soumission.png) no-repeat center center;
	width:271px;
	height:54px;
	cursor: pointer;
	border: none;
	color : transparent;
	margin-left:264px;
	margin-top:10px;
}

.note{
	font-family:Arial;
	font-size: 12px;
	color: #999;
	font-style:italic;
	float:right;
	text-align:right;
}

#content .page_contact {
	font-family: 'corbenregular';
	font-size: 20px;
	color: #000;
	width:722px;
	margin-left:auto;
	margin-right:auto;
}

/* FOOTER */

#push {
	min-height: 100px;
}

#fond_footer {
	background:#0b0b0b;
	border-top:5px solid 272727;
	position: relative;
	width:100%;
	height: 100px;
	margin-top: -100px;
	clear:both;
}

#footer {
	width:856px;
	margin-left:auto;
	margin-right:auto;
	padding-top:5px;
}

#corps_footer {
	width:640px;
	margin-left:auto;
	margin-right:auto;
}

#footer a {
	color:white;
	font-family:Arial;
	text-decoration:none;
}

#footer a:hover {
	text-decoration: underline;
}

#footer span {
	font-family:Arial;
	font-size:12px;
	color:white;
	margin:0;
	margin-bottom:5px;
	display:block;
}

#corps_footer .footer_section {
	float:left;
	text-align:left;
	margin-right:50px;
}

#corps_footer .footer_section img{
	margin-right:20px;
}