<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %} - TD08 (TWIG)</title><link
        rel="stylesheet" type="text/css" href="{{MEDIA_PATH}}css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{{MEDIA_PATH}}css/style.css">
        <script
        src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    </head>
    
    <body>
        {% block content %}{% endblock %}
    </body>
    
</html>